/* form.css */
/* *{
  background-color: blue;
} */
.form-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.MuiPaper-root {
  padding: 20px;
  border-radius: 8px;
}

.MuiTypography-h4 {
  margin-bottom: 20px;
  text-align: center;
}

.MuiGrid-container {
  margin-top: 10px;
}

.MuiButton-root {
  margin-top: 20px;
}